body{
    background-color: #f0eddf;
    color: #292626;
}


#landing-page{
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right:4rem;
    
}
#welcome{
    font-family: "Montserrat";
    margin-left:-8rem;
    text-align: center;
    font-size: 3.5rem;

}

#portfolio{
    font-family: "Monsieur La Doulaise";
    font-weight: 400;
    font-size: 8rem;
    margin-top: -7rem;
    margin-left: 17.5rem;
    text-align: center;
}

#landing-page h2, p{
    font-family: "Montserrat";
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0.2rem;
}

